@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head></head>
    <body>
        @*<a asp-controller="Employee" asp-action="Add"> Go to add employee</a>*@
        <a href="/employee/add"> Go to add employee</a>
        <h1 style="color:red;">Hello From Index 2 Page</h1>
    </body>
</html>